---
import StandardLayout from "../layouts/StandardLayout.astro";
---
<StandardLayout>
    <h2 class="center">Exciting Announcements</h2>
    <p>
        There are no active announcements. Check back for more news and happenings from the theatre world!
    </p>
</StandardLayout>
<script is:inline>
    document.getElementById('nav-announcements').classList.add('active');
</script>