---
import StandardLayout from '../layouts/StandardLayout.astro';
---

<StandardLayout>
  <h2 class="center">Exciting Announcements</h2>
  <div class="announcementList">
    <div class="announcement">
      <div class="announcementDate">January 18, 2024</div>
      <div class="announcementTitle">Spelling Bee Parent Meeting!</div>
      <div class="announcementBody">
        <p>
          Hello parents/guardians of the cast & crew of Spelling Bee! We are SO excited to have your student as a part of our cast/crew! Please join Jessi and the Theatre Advisory Council (TAC) for an
          important meeting regarding crucial theatre information including pay-to-play, scheduling, and required forms.
        </p>
        <p>
          The meeting will take place <b>January 29th at 6:15pm</b> in the FHC Auditorium. If you are unable to attend the meeting, please email Jessi as she is happy to help! For your convenience, payment
          will be collected at the meeting as well. We accept payment in the form of a check. Should you need financial assistance, please <a href="mailto:jdykstra@fhps.net">email Jessi Dykstra</a>;
          no student will be denied the opportunity to participate regardless of finances.
        </p>
        <p>If you have any questions, feel free to reach out! We are so excited to begin our spring musical season with your talented student!</p>
      </div>
    </div>
    <div class="announcementSeparator"></div>
    <div class="announcement">
      <div class="announcementDate">January 17, 2024</div>
      <div class="announcementTitle">Meet the Cast of Spelling Bee!</div>
      <div class="announcementBody">
        <div class="castList">
          <div class="castMember">
            <div class="character">Rona Lisa Perreti (and Olive's Mom)</div>
            <div class="actor">Josie Butler</div>
          </div>
          <div class="castMember">
            <div class="character">Vice Principal Douglas Panch</div>
            <div class="actor">Jonathan Mossner</div>
          </div>
          <div class="castMember">
            <div class="character">Michelle Mahoney</div>
            <div class="actor">Sarah Hughes</div>
          </div>
          <div class="castMember">
            <div class="character">Olive Ostrovsky</div>
            <div class="actor">Paige Harsevoort</div>
          </div>
          <div class="castMember">
            <div class="character">Willam Morris Barfee</div>
            <div class="actor">Toby Cameron</div>
          </div>
          <div class="castMember">
            <div class="character">Charlito "Chip" Tolentino (and Olive's Dad)</div>
            <div class="actor">Keegan Redmond</div>
          </div>
          <div class="castMember">
            <div class="character">Marcy Park</div>
            <div class="actor">Micah McClarty</div>
          </div>
          <div class="castMember">
            <div class="character">Logainne "Schwartzy" SchwartzandGrubenierre</div>
            <div class="actor">Gia Monterusso</div>
          </div>
          <div class="castMember">
            <div class="character">Leaf Coneybear</div>
            <div class="actor">Jacob Scott</div>
          </div>
          <div class="castMember">
            <div class="character">Carl Grubenierre</div>
            <div class="actor">Jake Barnes</div>
          </div>
          <div class="castMember">
            <div class="character">Dan Schwartz (and Jesus)</div>
            <div class="actor">Sully Lower</div>
          </div>
          <div class="castMember">
            <div class="character">Bark Coneybear</div>
            <div class="actor">Silas Sturgis</div>
          </div>
          <div class="castMember">
            <div class="character">Pinecone Coneybear</div>
            <div class="actor">Anneke Anglin</div>
          </div>
          <div class="castMember">
            <div class="character">Landscape Coneybear</div>
            <div class="actor">Audrey VanSkiver</div>
          </div>
          <div class="castMember">
            <div class="character">Paul Coneybear</div>
            <div class="actor">Finn Willis</div>
          </div>
          <div class="castMember">
            <div class="character">Ensemble</div>
            <div class="actor">
              Finn Willis, Stell Penner, Cambrie Smith, Audrey VanSkiver, Dia Siriam, Sully Lower, Brooke Rogers, JJ Marsiglia, Lexi Grassmid, Eliza Zorn, Silas Sturgis, Autumn VanSolkema, Anneke
              Anglin, Yasmin Tomaz, Molly Colpean, Lily Bouma, Jake Barnes
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="announcementSeparator"></div>
    <div class="announcement">
      <div class="announcementDate">January 17, 2024</div>
      <div class="announcementTitle">Meet the Crew of Spelling Bee!</div>
      <div class="announcementBody">
        <div class="castList">
          <div class="castMember">
            <div class="character">Stage Crew Head</div>
            <div class="actor">Alex Smith</div>
          </div>
          <div class="castMember">
            <div class="character">Stage Crew</div>
            <div class="actor">
              Audrey Milanowski, Addie McDowell, Andrew Tyrell, Aubrey Hibma, Annaliese Hoffman, Abby McConnell, Kylie Hatfield, Alayna Gschwind, Aaliyah Madtson, Mikayla Bush, Althea Church
            </div>
          </div>
          <div class="castMember">
            <div class="character">Props Crew Head</div>
            <div class="actor">Megan Boersema</div>
          </div>
          <div class="castMember">
            <div class="character">Props Crew</div>
            <div class="actor">Yahvi Patel, Katy Dykstra, Danica Grassmid</div>
          </div>
          <div class="castMember">
            <div class="character">Set Crew Head</div>
            <div class="actor">Katy Dykstra</div>
          </div>
          <div class="castMember">
            <div class="character">Set Crew</div>
            <div class="actor">Tyler Nass</div>
          </div>
          <div class="castMember">
            <div class="character">Hair and Makeup Crew Head</div>
            <div class="actor">Lili Townes</div>
          </div>
          <div class="castMember">
            <div class="character">Hair and Makeup</div>
            <div class="actor">Kain Mays, Elizabeth Vorel</div>
          </div>
          <div class="castMember">
            <div class="character">Costumes Crew Head</div>
            <div class="actor">Emalea Rooke</div>
          </div>
          <div class="castMember">
            <div class="character">Tech Crew Head</div>
            <div class="actor">Henry Schwarze</div>
          </div>
          <div class="castMember">
            <div class="character">Lights</div>
            <div class="actor">Aiden Verwolf, Ruthie Bray</div>
          </div>
          <div class="castMember">
            <div class="character">Sound</div>
            <div class="actor">Paulie Erickson, Harris Ward, Jordan Fletcher</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script is:inline>
    document.getElementById('nav-announcements').classList.add('active');
  </script>
  <style>
    .announcement {
      display: grid;
      grid-template-rows: auto auto 1fr;
      justify-content: center;
    }
    .announcementTitle {
      font-size: var(--h2);
      font-weight: 500;
      color: var(--primary);
      text-align: center;
      padding: 0 1rem 1rem;
    }
    .announcementDate {
      font-size: var(--small);
      color: var(--orange);
      text-align: center;
    }
    .castList {
      display: flex;
      flex-direction: column;
    }
    .castMember {
      display: flex;
      justify-content: space-between;
      padding: 1em 0.5em;
    }
    .castMember:nth-of-type(even) {
      background-color: var(--lightGreen);
    }
    .character,
    .actor {
      max-width: 50%;
      text-align: end;
    }
    .announcementSeparator {
      border-top: var(--marqueeBorder);
      margin: 2em 0;
    }
  </style>
</StandardLayout>
