---
import StandardLayout from '../layouts/StandardLayout.astro';
---

<StandardLayout>
  <h2 class="center">Exciting Announcements</h2>
  <div class="announcementList">Thank you for a fantastic theatre season! Check back for exiting new announcements as we get closer to the start of our next season!</div>
  <script is:inline>
    document.getElementById('nav-announcements').classList.add('active');
  </script>
  <style>
    .announcement {
      display: grid;
      grid-template-rows: auto auto 1fr;
      justify-content: center;
    }
    .announcementTitle {
      font-size: var(--h2);
      font-weight: 500;
      color: var(--primary);
      text-align: center;
      padding: 0 1rem 1rem;
    }
    .announcementDate {
      font-size: var(--small);
      color: var(--orange);
      text-align: center;
    }
    .castList {
      display: flex;
      flex-direction: column;
    }
    .castMember {
      display: flex;
      justify-content: space-between;
      padding: 1em 0.5em;
    }
    .castMember:nth-of-type(even) {
      background-color: var(--lightGreen);
    }
    .character {
      max-width: 50%;
      text-align: start;
    }
    .actor {
      max-width: 50%;
      text-align: end;
    }
    .announcementSeparator {
      border-top: var(--marqueeBorder);
      margin: 2em 0;
    }
  </style>
</StandardLayout>
