---
import ShowLayout from '../layouts/ShowLayout.astro';
---

<ShowLayout>
  <img slot="showImage" src="/images/show-improv-spring.jpg" alt="Improv Central" height="250px" />
  <h2 slot="showTitle">Improv Central</h2>
  <section>
    <div>
      Since its founding over a decade ago, Improv Central has been the most spontaneous club in school! Twice a year, Improv Central puts on a show for their community in which the skits are
      completely unplanned and entirely made up on-the-spot. Their shows cater to the audience by involving the audience, and anyone who witnesses their performances can guarantee a night of fun and
      laughter.
    </div>
  </section>
</ShowLayout>
<script is:inline>
  document.getElementById('nav-improv').classList.add('active');
</script>
