---
import BigAnnouncement from '../components/BigAnnouncement.astro';
import ShowLineup from '../components/ShowLineup.astro';
import StandardLayout from '../layouts/StandardLayout.astro';
---

<StandardLayout>
  <section>
    <h2 class="center">Welcome to the Home of FHC Theatre</h2>
    <div class="showAnnouncement">
      <div class="mainImage" class="center">
        <img src="/images/rat-2025-logo.jpg" alt="FHC Theatre - Random Acts of Talent 25" width="400" />
      </div>
      <div class="announcement">
        <h3 class="showTitle">Random Acts of Talent '25</h3>
        <p class="showDate">Saturday, January 18, 2025 @ 7:00 PM<br />Forest Hills Fine Arts Center</p>
        <p class="showInfo">
          Join us for the 25th annual Random Acts of Talent show! This year's show will feature a variety of acts from students across all grades competing for fame and prizes! Tickets are $5 for
          students and $10 and can be purchased during lunch or at the door. Don't miss this exciting event!<br /><br />
          <strong>Can't make it to the show? You can stream the show from wherever you are!</strong>
          <a href="https://fhfac.anywhereseat.com/channel.php?ludus=1">Click here</a> to purchase your virtual ticket to the show for $10. You'll be sent a code that will unlock the stream when its ready.
        </p>
      </div>
    </div>
    <ShowLineup />
  </section>
</StandardLayout>
<style>
  .mainImage {
    text-align: center;
  }
  .showAnnouncement {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 1em 0;
  }
  .announcement {
    text-align: center;
    margin-left: 1em;
  }
  .showTitle {
    font-size: var(--h2);
    font-style: var(--headingFont);
  }
  .showDate {
    font-size: var(--h4);
  }
  .showInfo {
    padding: 1em 0;
  }
  @media screen and (min-width: 870px) {
    .showAnnouncement {
      grid-template-columns: auto 1fr;
      padding: 2em 0;
    }
  }
</style>
