---
import BigAnnouncement from '../components/BigAnnouncement.astro';
import ShowLineup from '../components/ShowLineup.astro';
import StandardLayout from '../layouts/StandardLayout.astro';
---

<StandardLayout>
  <section>
    <h2 class="center">Welcome to the Home of FHC Theatre</h2>
    <div class="showAnnouncement">
      <div class="mainImage" class="center">
        <img src="/images/improv-central-logo.jpg" alt="FHC Theatre Presents Improv Central" width="300" />
      </div>
      <div class="announcement">
        <h3 class="showTitle">FHC Theatre Presents Improv Central!</h3>
        <p class="showDate">September 27, 2025 @ 7:33 PM<br />FHC Auditorium</p>
        <p class="showInfo">
          It's the bee's knees, the cat's meow, the absolute berries! Improv Central is throwing the most swell party this side of West Egg, and you're invited! Our improvisers are ready to Charleston
          their way through your wildest suggestions, creating scenes straight from the Jazz Age. Think you can stump our performers? Shout out a scenario – maybe a flapper trying to hide her secret
          identity, or a bootlegger's delivery gone wrong – and watch our talented cast bring the Roaring Twenties to life before your very eyes! This ain't your grandmother's theatre (unless your
          grandmother was a 1920s party girl) – it's completely unscripted, utterly unpredictable, and absolutely unforgettable!
        </p>
        <p>Show starts at 7:33pm sharp! Tickets are $5 for students, $10 for adults and available for purchase at lunch or at the door.</p>
      </div>
    </div>
    <ShowLineup />
  </section>
  <style>
    .mainImage {
      text-align: center;
    }
    .showAnnouncement {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1em 0;
    }
    .announcement {
      text-align: center;
      margin-left: 1em;
    }
    .showTitle {
      font-size: var(--h2);
      font-style: var(--headingFont);
    }
    .showDate {
      font-size: var(--h4);
    }
    .showInfo {
      padding: 1em 0;
    }
    @media screen and (min-width: 870px) {
      .showAnnouncement {
        padding: 2em 0;
      }
    }
  </style>
</StandardLayout>
