---
import BigAnnouncement from '../components/BigAnnouncement.astro';
import ShowLineup from '../components/ShowLineup.astro';
import StandardLayout from '../layouts/StandardLayout.astro';
---

<StandardLayout>
  <section>
    <h2 class="center">Welcome to the Home of FHC Theatre</h2>
    <div class="showAnnouncement">
      <div class="mainImage" class="center">
        <img src="/images/crucible-logo.jpg" alt="FHC Theatre Presents Arthur Miller's The Crucible" width="300" />
      </div>
      <div class="announcement">
        <h3 class="showTitle">FHC Theatre Presents Arthur Miller's The Crucible</h3>
        <p class="showDate">November 13 - 15, 2025 @ 7:00 PM<br />FHC Auditorium</p>
        <p class="showInfo">
          The Crucible is a gripping drama that explores the dangerous power of mass hysteria. Set in 1692 Salem, Massachusetts, this timeless masterpiece follows John Proctor and his community as
          accusations of witchcraft tear their town apart. When fear and suspicion replace reason and justice, ordinary people must make extraordinary choices about what they believe and what they're
          willing to sacrifice for truth. Our talented student actors bring Miller's unforgettable characters to life in this intense drama that explores themes as relevant today as they were in
          Puritan New England. Witness the struggle between individual conscience and social pressure in one of American theatre's greatest plays. A story of moral courage that will leave you
          questioning: What would you do when everything you hold dear is at stake?
        </p>
        <p>Show starts at 7:00pm. Tickets are $10 for students, $8 for adults and available for purchase at lunch or at the door.</p>
      </div>
    </div>
    <ShowLineup />
  </section>
  <style>
    .mainImage {
      text-align: center;
    }
    .showAnnouncement {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1em 0;
    }
    .announcement {
      text-align: center;
      margin-left: 1em;
    }
    .showTitle {
      font-size: var(--h2);
      font-style: var(--headingFont);
    }
    .showDate {
      font-size: var(--h4);
    }
    .showInfo {
      padding: 1em 0;
    }
    @media screen and (min-width: 870px) {
      .showAnnouncement {
        padding: 2em 0;
      }
    }
  </style>
</StandardLayout>
