---
import BigAnnouncement from '../components/BigAnnouncement.astro';
import ShowLineup from '../components/ShowLineup.astro';
import StandardLayout from '../layouts/StandardLayout.astro';
---

<StandardLayout>
  <section>
    <h2 class="center">Welcome to the Home of FHC Theatre</h2>
    <div class="mainImage" class="center">
      <img src="/images/musical-2024.jpg" alt="FHC Theatre" width="400" />
    </div>
    <h3 class="center">"Artistic excellence combined with educational growth"</h3>
    <p>
      Thank you for stopping by to check us out. If you are a current FHC student, you will be able to easily access pertinent information regarding upcoming auditions and performances. If you are a
      parent, alumni, or supporter, we hope that you are able to quickly find the information you need to keep informed about upcoming theatre events at FHC.
    </p>
  </section>
</StandardLayout>
<style>
  .mainImage {
    text-align: center;
  }
  .showAnnouncement {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 1em 0;
  }
  .announcement {
    text-align: center;
    margin-left: 1em;
  }
  .showTitle {
    font-size: var(--h3);
    font-style: var(--headingFont);
  }
  .showDate {
    font-size: var(--h4);
  }
  .showInfo {
    padding: 1em 0;
  }
  @media screen and (min-width: 870px) {
    .showAnnouncement {
      grid-template-columns: auto 1fr;
      padding: 2em 0;
    }
  }
</style>
