---
import BigAnnouncement from '../components/BigAnnouncement.astro';
import ShowLineup from '../components/ShowLineup.astro';
import StandardLayout from '../layouts/StandardLayout.astro';
---

<StandardLayout>
  <section>
    <h2 class="center">Welcome to the Home of FHC Theatre</h2>
    <div class="showAnnouncement">
      <div class="showImage center">
        <img src="/images/show-spellingbee-poster.jpg" alt="The 25th Annual Putnam County Spelling Bee" width="300" />
      </div>
      <div class="announcement">
        <div class="showTitle">The 25th Annual Putnam County Spelling Bee</div>
        <div class="showDate">Saturday, February 24 7:00pm</div>
        <div class="showInfo">
          <p>
            Grab a D-I-C-T-I-O-N-A-R-Y and welcome to Spelling Bee! This heartfelt Tony-Award winning musical follows a group of wonderfully unique and impassioned adolescents as they compete for the
            bee championship. The 25th Annual Putnam County Spelling Bee is a joyful night of comedy and quirk that celebrates the pursuit of victory and the gift of being true to oneself.
          </p>
          <p>Shows are March 21 - 23 at 7:00 pm with a matinee show at 3:00 on March 23. All shows are at the Forest Hills Fine Arts Center.</p>
          <p>For ticket information, visit our <a href="/tickets">Ticket Info</a> page or buy tickets online at the <a href="https://fhfac.ludus.com/index.php">FAC Box Office</a>.</p>
        </div>
      </div>
    </div>
    <!-- <div class="mainImage" class="center">
      <img src="/images/play-2023.jpg" alt="FHC Theatre" width="400" />
    </div> -->
    <h3 class="center">"Artistic excellence combined with educational growth"</h3>
    <p>
      Thank you for stopping by to check us out. If you are a current FHC student, you will be able to easily access pertinent information regarding upcoming auditions and performances. If you are a
      parent, alumni, or supporter, we hope that you are able to quickly find the information you need to keep informed about upcoming theatre events at FHC.
    </p>
    <ShowLineup />
  </section>
</StandardLayout>
<style>
  .mainImage {
    text-align: center;
  }
  .showAnnouncement {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 1em 0;
  }
  .announcement {
    text-align: center;
    margin-left: 1em;
  }
  .showTitle {
    font-size: var(--h3);
    font-style: var(--headingFont);
  }
  .showDate {
    font-size: var(--h4);
  }
  .showInfo {
    padding: 1em 0;
  }
  @media screen and (min-width: 870px) {
    .showAnnouncement {
      grid-template-columns: auto 1fr;
      padding: 2em 0;
    }
  }
</style>
