---
import BigAnnouncement from '../components/BigAnnouncement.astro';
import ShowLineup from '../components/ShowLineup.astro';
import StandardLayout from '../layouts/StandardLayout.astro';
---

<StandardLayout>
  <section>
    <h2 class="center">Welcome to the Home of FHC Theatre</h2>
    <div class="showAnnouncement">
      <div class="showImage center">
        <img src="/images/show-improv-spring.jpg" alt="Improv Central Spring Show" width="400" />
      </div>
      <div class="announcement">
        <div class="showTitle">Improv Central - Spring Edition</div>
        <div class="showDate">Saturday, April 27 at 7:03pm</div>
        <div class="showInfo">
          <p>
            Peace, love, and laughter! Join us for a night of fun and hilarity as the Improv Central team takes the stage for their Spring show. Watch in amazement as they create scenes and characters
            on the spot based on your suggestions. You never know what will happen, but you can be sure it will be a night to remember! Audience participation is encouraged so bring your best and most
            outragious ideas!
          </p>
          <p>Show starts at 7:03pm sharp! Tickets are $5 and available during all lunches the week of the show or at the door on Saturday night.</p>
        </div>
      </div>
    </div>
    <!-- <div class="mainImage" class="center">
      <img src="/images/play-2023.jpg" alt="FHC Theatre" width="400" />
    </div> -->
    <h3 class="center">"Artistic excellence combined with educational growth"</h3>
    <p>
      Thank you for stopping by to check us out. If you are a current FHC student, you will be able to easily access pertinent information regarding upcoming auditions and performances. If you are a
      parent, alumni, or supporter, we hope that you are able to quickly find the information you need to keep informed about upcoming theatre events at FHC.
    </p>
    <ShowLineup />
  </section>
</StandardLayout>
<style>
  .mainImage {
    text-align: center;
  }
  .showAnnouncement {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 1em 0;
  }
  .announcement {
    text-align: center;
    margin-left: 1em;
  }
  .showTitle {
    font-size: var(--h3);
    font-style: var(--headingFont);
  }
  .showDate {
    font-size: var(--h4);
  }
  .showInfo {
    padding: 1em 0;
  }
  @media screen and (min-width: 870px) {
    .showAnnouncement {
      grid-template-columns: auto 1fr;
      padding: 2em 0;
    }
  }
</style>
