---
import ShowLayout from '../layouts/ShowLayout.astro';
---

<ShowLayout>
  <img slot="showImage" src="/images/musical-2024.jpg" alt="Spring Musical" width="300px" />
  <h2 slot="showTitle">Spring Musical</h2>
  <div>
    Each spring, our theatre department explodes with color and song in our captivating musical production! This year's show promises to be a crowd-pleaser, filled with unforgettable melodies, dynamic
    dance numbers, and a talented cast of student performers. Whether it's a classic tale or a brand new story, our production guarantees an evening of laughter, heartwarming moments, and pure
    theatrical magic. Don't miss your chance to be a part of the excitement!
  </div>
</ShowLayout>
<script is:inline>
  document.getElementById('nav-musical').classList.add('active');
</script>
<style>
  @media screen and (max-width: 869px) {
    iframe {
      width: 100%;
    }
  }
</style>
