---
import ShowLayout from '../layouts/ShowLayout.astro';

const defaultCopy =
  "Each spring, our theatre department explodes with color and song in our captivating musical production! This year's show promises to be a crowd-pleaser, filled with unforgettable melodies, dynamic dance numbers, and a talented cast of student performers. Whether it's a classic tale or a brand new story, our production guarantees an evening of laughter, heartwarming moments, and pure theatrical magic. Don't miss your chance to be a part of the excitement!";
---

<ShowLayout>
  <img slot="showImage" src="/images/something-rotten-logo.jpg" alt="Something Rotten" width="400px" />
  <h2 slot="showTitle">Something Rotten</h2>
  <div slot="showDates">March 19 - 21, 2025 @ 7:00 PM, March 21 @ 3:00 PM</div>
  <div slot="showCopy">
    "Something Rotten!" is a hilarious and irreverent musical comedy that takes a fresh, modern look at the world of Shakespearean theatre. Set in the 1590s, this show follows the story of two
    brothers, Nick and Nigel Bottom, who are desperate to write a hit play. When they discover that Shakespeare is about to write his own play, they decide to steal the idea and write the first-ever
    musical. Along the way, they encounter a cast of larger-than-life characters, including a scheming rival playwright, a beautiful actress, and a group of bumbling actors. With a mix of classic
    songs and original tunes, "Something Rotten!" is a celebration of the power of creativity and the importance of following your dreams.
  </div>
</ShowLayout>
<script is:inline>
  document.getElementById('nav-musical').classList.add('active');
</script>
<style>
  @media screen and (max-width: 869px) {
    iframe {
      width: 100%;
    }
  }
</style>
