---
import StandardLayout from "../layouts/StandardLayout.astro";
import { FHC_COOKIE_KEY } from "../authentication/constants";
import { getCookieKeyValue } from "../authentication/utils";

const hashed_key = await getCookieKeyValue(import.meta.env.PORTAL_PASSWORD);
if (Astro.cookies.get(FHC_COOKIE_KEY)?.value !== hashed_key) {
    return Astro.redirect('/login');
}
---
<StandardLayout>
    <section>
        <h2>Parent Portal</h2>
        <p>Look for more information to come as we get closer to the show!</p>
    </section>
</StandardLayout>