---
import StandardLayout from "../layouts/StandardLayout.astro";
import { FHC_COOKIE_KEY } from "../authentication/constants";
import { sha256 } from "../authentication/utils";

const prerender = false;
const hashed_value = await sha256(import.meta.env.PORTAL_PASSWORD);
const cookie_value = Astro.cookies.get(FHC_COOKIE_KEY)?.value;

console.log({hashed_value, cookie_value});
if (cookie_value !== hashed_value) {
    return Astro.redirect('/login');
}
---
<StandardLayout>
    <section>
        <h2>Parent Portal</h2>
        <p>Look for more information to come as we get closer to the show!</p>
    </section>
</StandardLayout>