---
import StandardLayout from "../layouts/StandardLayout.astro";

---
<StandardLayout>
    <section>
        <h2>Parent Portal</h2>
        <p>Look for more information to come as we get closer to the show!</p>
    </section>
</StandardLayout>