---
import ShowLayout from '../layouts/ShowLayout.astro';
---

<ShowLayout>
  <img slot="showImage" src="/images/alice-logo.png" alt="Fall Play" width="300px" />
  <h2 slot="showTitle">Alice in Wonderland</h2>
  <div slot="showDates">November 14 - 16 @ 7:00 PM, November 16 @ 3:00 PM</div>
  <div slot="showCopy">
    Join us for a whimsical adventure down the rabbit hole! FHC Theatre proudly presents Alice in Wonderland, a timeless classic filled with quirky characters, magical creatures, and unexpected
    twists. Follow Alice as she tumbles into a fantastical world filled with talking animals, a Mad Hatter's tea party, and a Queen who's obsessed with croquet. With stunning costumes, imaginative
    sets, and talented young actors, this production is sure to delight audiences of all ages. Don't miss your chance to step into the Looking Glass!
  </div>
</ShowLayout>
<script is:inline>
  document.getElementById('nav-play').classList.add('active');
</script>
