---
import ShowLayout from '../layouts/ShowLayout.astro';
---

<ShowLayout>
  <img slot="showImage" src="/images/play-2023.jpg" alt="Fall Play" />
  <h2 slot="showTitle">Fall Play</h2>
  <div>
    As the leaves begin to turn, the stage is set for our captivating fall drama! This year's production promises to be a thought-provoking journey, filled with powerful monologues, intricate
    character studies, and a talented cast ready to bring the story to life. Prepare to be swept away by a tale of whimsy, self-discovery, and a bit of excitement, explored with depth and nuance.
    Don't miss your chance to witness the raw power of live theatre this fall!
  </div>
</ShowLayout>
<script is:inline>
  document.getElementById('nav-play').classList.add('active');
</script>
