---
import Sponsors from './Sponsors.astro';
---

<section class="footer">
  <a class="center" href="https://www.fhps.net/high-schools/central/">
    <img src="/images/theatre-logo-banner.png" alt="Forest Hills Central" width="400px" />
  </a>
</section>
<style>
  .footer {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 3rem;
  }
</style>
