---

---

<section class="showLineup">
  <h3>Show Lineup</h3>
  <div class="imageList">
    <div class="imageHolder">
      <a href="/improv">
        <img src="/images/show-improv-fall-new.jpg" alt="Improv Central" height="300" />
      </a>
      <div class="caption">September 30</div>
    </div>
    <div class="imageHolder">
      <a href="/play">
        <img src="/images/show-savage-new.jpg" alt="The Curious Savage" height="300" />
      </a>
      <div class="caption">November 9 - 11</div>
    </div>
    <div class="imageHolder">
      <img src="/images/show-rat-new.jpg" alt="Random Acts of Talent" height="300" />
      <div class="caption">February 24</div>
    </div>
    <div class="imageHolder">
      <a href="/musical">
        <img src="/images/show-spellingbee-new.jpg" alt="The 25th Annual Putnam County Spelling Bee" height="300" />
      </a>
      <div class="caption">March 21 - 23</div>
    </div>
    <div class="imageHolder">
      <a href="/announcements">
        <img src="/images/tony-night-new.jpg" alt="Tony Night" height="300" />
        <div class="caption">April 26</div>
      </a>
    </div>
  </div>
  <style>
    .showLineup {
      margin-top: 2em;
    }
    h3 {
      color: var(--primary);
      text-align: center;
    }
    .imageList {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      width: 100%;
      align-items: center;
    }
    .imageHolder {
      position: relative;
      width: 100%;
      text-align: start;
    }
    .imageHolder .caption {
      opacity: 0;
      position: absolute;
      bottom: 1.5rem;
      left: 0;
      height: 100px;
      max-width: 80%;
      padding: 1rem 2rem;
      color: var(--white);
      background-color: var(--primary);
      text-align: center;
      font-size: var(--h3);
      display: grid;
      align-items: center;
      justify-content: flex-start;
      transition: opacity 0.7s ease-in-out;
    }
    .imageHolder:hover .caption {
      opacity: 1;
    }

    @media screen and (min-width: 870px) {
      .imageList {
        flex-direction: row;
      }
    }
  </style>
</section>
