---

---

<section class="sponsors">
  <h3>Thank you to our sponsors</h3>
  <div class="sponsorList">
    <a href="https://www.kylevisser.com/" target="_blank">
      <img src="/images/kvteam.png" alt="Kyle Visser Real Estate Team" width="150" />
    </a>
    <a href="https://www.culvers.com/" target="_blank">
      <img src="/images/culvers-logo.png" alt="Culver's Cascade" width="150" />
    </a>
    <a href="https://lathemillerortho.com/" target="_blank">
      <img src="/images/miller-logo.jpg" alt="Miller Orthodontics" width="150" />
    </a>
    <a href="https://hungryhowies.com/" target="_blank">
      <img src="/images/hungryhowies-logo.jpg" alt="Hungry Howie's" width="150" />
    </a>
    <a href="https://foxtailcoffee.com/" target="_blank">
      <img src="/images/foxtail-logo.png" alt="Foxtail Coffee" width="150" />
    </a>
    <a href="https://dptsolutions.com/" target="_blank">
      <img src="/images/dpt-logo.webp" alt="Miller Orthodontics" width="150" />
    </a>
    <a href="https://www.mifp.com/" target="_blank}" style="background-color: #01597e;">
      <img src="/images/mfp-logo.png" alt="MFP Automation Engineering" width="150" />
    </a>
    <a href="https://www.impactfitnesswellness.com/" target="_blank">
      <img src="/images/impact-fitness-logo.png" alt="Impact Fitness & Wellness" width="150" />
    </a>
    <a href="https://jtspizza.com/" target="_blank">
      <img src="/images/jts-logo-small.jpg" alt="JT's Pizza & Spirits" width="150" />
    </a>
    <a href="https://salonverity.com/" target="_blank" style="background-color: #000;">
      <img src="/images/salonverity-logo.png" alt="Salon Verity" width="150" />
    </a>
    <a href="https://bellanailsgrandrapids.com/" target="_blank">
      <img src="/images/bellanails-logo.png" alt="Bella Nails" width="150" />
    </a>
    <a href="https://refugeeeducationcenter.org/" target="_blank">
      <img src="/images/refugeecenter-logo.png" alt="Refugee Education Center" width="150" />
    </a>
    <a href="https://protravelinc.com/" target="_blank">
      <img src="/images/protravel-logo.jpeg" alt="Pro Travel International" width="150" />
    </a>
    <img src="/images/freshcoast-logo.png" alt="Fresh Coast Assembly" width="150" />
    <img src="/images/fhplumbing-logo.png" alt="Forest Hills Plumbing" width="150" />
  </div>
  <h3>And thank you to our theatre families for their support</h3>
  <div class="sponsorList">
    <ul>
      <li>The Tyrell/Stoll Family</li>
      <li>The Lower Family</li>
      <li>The Cameron Family</li>
      <li>Joe & Kerri Smith</li>
      <li>The Barnes Family</li>
      <li>The Fletcher Family</li>
      <li>The Grassmid Family</li>
      <li>The Koehler Family</li>
      <li>The Vorel Family</li>
      <li>The Bierenga Family</li>
      <li>The McDowell Family</li>
      <li>The Ward Family</li>
    </ul>
  </div>
</section>
<style>
  .sponsors {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: var(--gap);
  }
  .sponsorList {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--gap);
    width: 100%;
    max-width: 1080px;
  }
  .sponsors h3 {
    text-align: center;
    color: var(--primary);
  }

  @media screen and (min-width: 870px) {
    .sponsorList {
      flex-direction: row;
    }
    .sponsorList ul {
      columns: 2;
    }
  }
</style>
