---

---

<section class="sponsors">
  <h3>Thank you to our sponsors</h3>
  <div class="sponsorList">
    <a href="https://www.culvers.com/" target="_blank">
      <img src="/images/sponsors/25-26/culvers.png" alt="Culver's Cascade" width="150" />
    </a>
    <a href="https://dptsolutions.com/" target="_blank">
      <img src="/images/sponsors/25-26/dpt-solutions.webp" alt="DPT Solutions" width="150" />
    </a>
    <a href="https://hungryhowies.com/" target="_blank">
      <img src="/images/hungryhowies-logo.jpg" alt="Hungry Howie's" width="150" />
    </a>
    <a href="https://lathemillerortho.com/" target="_blank">
      <img src="/images/sponsors/25-26/miller-ortho.jpg" alt="Miller Orthodontics" width="150" />
    </a>
    <a href="https://refugeeeducationcenter.org/" target="_blank">
      <img src="/images/sponsors/25-26/refugee-ed-center.png" alt="Refugee Education Center" width="150" />
    </a>
    <a href="https://lowelleyecare.com/" target="_blank">
      <img src="/images/sponsors/25-26/lowell-eye-care.jpg" alt="Lowe Eye Care" width="150" />
    </a>
    <a href="https://www.karlorthodontics.com/" target="_blank">
      <img src="/images/sponsors/25-26/karl-ortho.svg" alt="Karl Orthodontics" width="150" />
    </a>
    <a href="https://cascadevillagedental.com" target="_blank">
      <img src="/images/sponsors/25-26/cascade-village-dental.png" alt="Cascade Village Dental" width="150" />
    </a>
    <a href="https://duchateau.com/" target="_blank">
      <img src="/images/sponsors/25-26/duchateau.png" alt="Du Chateau" width="150" />
    </a>
    <a href="https://jbarnes.design/" target="_blank">
      <img src="/images/sponsors/25-26/jake-barnes-design.png" alt="Jake Barnes Design" width="150" />
    </a>
  </div>
  <h3>And thank you to our theatre families for their support</h3>
  <div class="sponsorList">
    <ul>
      <li>The Barnes Family</li>
      <li>The Bierenga Family</li>
      <li>The Fletcher Family</li>
      <li>The Holser Family</li>
      <li>The LaFontaine Family</li>
      <li>The McDowell Family</li>
      <li>The Reinhardt Family</li>
      <li>The Vorel Family</li>
    </ul>
  </div>
</section>
<style>
  .sponsors {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: var(--gap);
  }
  .sponsorList {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--gap);
    width: 100%;
    max-width: 1080px;
  }
  .sponsors h3 {
    text-align: center;
    color: var(--primary);
  }

  @media screen and (min-width: 870px) {
    .sponsorList {
      flex-direction: row;
    }
    .sponsorList ul {
      columns: 2;
    }
  }
</style>
